<a class="f6 link dim br2 ph3 pv2 mb2 dib white bg-black" href="/add">New Post</a>
<div class="">
  {{#each posts}}
  <div class="">
    <h2>{{subject}}</h2>
    {{{body}}}
  </div>
  {{/each}}
</div>